<style>
    h1{
        text-align: center;
    }
</style>
<h1>Add Div</h1><br>
<form method="post">
    <table align="center" border="">
        <tr>
            <td>Add Div:</td>
            <td><input type="text" name="div" ></td>
        </tr>
        <tr align="center">
            <td colspan="2"><input type="submit" value="save"></td>
        </tr>
    </table>
</form>