<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <style>
        .header {
            display: flex;
            justify-content: center;
        }

        .nav a {
            margin: 20px;
        }

        a {
            text-decoration: none;
            color: blue;
            font-size: 18px;
        }

        input {
            margin: 5px 0px;
        }
        h1{
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="nav">
            <a href="addstaff">Add Staff</a>
            <a href="viewresult">View Result</a>
            <a href="viewstaff">View Staff</a>
            <a href="viewstudent">View Student</a>
            <a href="viewstudentstddiv">View Student Div And Std</a>
            <a href="addstd">Add Std</a>
            <a href="adddiv">Add Div</a>
        </div>
    </div>
</body>
<br><h1>Add Student</h1><br>
</html>
<br>
<form method="post">
    <table border="" align="center">
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Std:</td>
            <td>
                <select name="std">
                    <option disabled selected>Select Standard</option>
                    <% result.forEach(function(user) {%>
                    <option value="<%= user.std %>"><%= user.std%></option>
                    <% }); %>
                </select>
            </td>
        </tr>
        <tr>
            <td>Div:</td>
            <td>
                <select name="div">
                    <option disabled selected>Select Division</option>
                    <% result.forEach(function(user) {%>
                    <option value="<%= user.division %>"><%= user.division%></option>
                    <% }); %>
                </select>
            </td>
        </tr>
        <tr>
            <td>Roll No:</td>
            <td><input type="number" name="roll_no"></td>
        </tr>
        <tr>
            <td></td>
            <td align="center"><input type="submit" value="save" name="submit"></td>
        </tr>
    </table>
</form>
