<h1>Welcome to <%= admin_name %></h1>

<a href="adduser">Add user</a><br>
<a href="addtask">Add task</a><br>
<a href="viewtask">View task</a><br>
<a href="index">View user</a><br><br><br>
<a href="/logout">Logout</a>