<style>
    h1{
        text-align: center;
    }
</style>

<h1>Student Dashboard</h1>
<form method="post">
    <table align="center" border="">
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" ></td>
        </tr>
        <tr>
            <td>Std:</td>
            <td>
                <select name="std">
                    <option disabled selected>Select Standard</option>
                    <% result.forEach(function(user) {%>
                    <option value="<%= user.std %>"><%= user.std%></option>
                    <% }); %>
                </select>
            </td>
        </tr>
        <tr>
            <td>Div:</td>
            <td>
                <select name="div">
                    <option disabled selected>Select Division</option>
                    <% result.forEach(function(user) {%>
                    <option value="<%= user.division %>"><%= user.division%></option>
                    <% }); %>
                </select>
            </td>
        </tr>
        <tr>
            <td>Roll No:</td>
            <td><input type="number" name="roll_no"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="save" name="submit"></td>
        </tr>
    </table>
</form>